body {
    margin: 0;
    background: #9d00ff;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
  }
  canvas {
    display: block;
    margin: 20px auto;
    background: #111;
    border: 2px solid #fff;
  }
  select {
    margin-top: 10px;
  }
  